/* 蜈ｨ菴楢レ譎ｯ縺ｨ譁・ｭ苓牡 */

/* 繝｢繝ｼ繝繝ｫ蜈ｨ菴薙・證怜ｹ・*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 繝｢繝ｼ繝繝ｫ繝懊ャ繧ｯ繧ｹ */
.modal-box {
    background-color: #1c2a2f;
    padding: 25px 30px;
    width: 90%;
    height: 500px;
    max-width: 750px;
    border-radius: 12px;

    color: #dce6ec;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);

    position: relative;  /* 繝懊ち繝ｳ繧堤ｵｶ蟇ｾ驟咲ｽｮ縺吶ｋ縺溘ａ */
    display: block;      /* flex縺ｯ隗｣髯､ */

    /* 縺薙％縺ｧ譫邱壹ｒ霑ｽ蜉 */
    border: 1px solid #5A6A71;  /* 邱壹・螟ｪ縺輔→濶ｲ繧呈欠螳・*/
}

/* 繝｢繝ｼ繝繝ｫ繧ｿ繧､繝医Ν・域ｭ｣隗｣繝ｻ荳肴ｭ｣隗｣・・*/
.modal-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 5px;
    color: #49c0f8;
}

/* 荳ｭ縺ｮ繧ｳ繝ｳ繝・Φ繝・Κ蛻・*/
.modal-content {
    margin-bottom: 0px;
    padding-left: 50px;
}

/* 縲檎ｭ斐∴縲阪瑚ｧ｣隱ｬ縲阪・隕句・縺・*/
.modal-section-title {
    font-size: 16px;
    font-weight: 700;
    margin: 40px 0 6px 0;
    color: #dce6ec;
}

/* JS縺ｧ豕ｨ蜈･縺輔ｌ繧区悽譁・ユ繧ｭ繧ｹ繝・*/
#modal-answer,
#modal-explanation {
    font-size: 15px;
    line-height: 1.6;
    color: #dce6ec;
}

/* 谺｡縺ｸ繝懊ち繝ｳ */
.modal-next-btn {
    display: block;
    text-decoration: none;
    text-align: center;


    background-color: #49c0f8;
    color: #131f24;

    padding: 12px 0;
    width: 170px;
    border-radius: 18px;

    font-size: 19px;
    font-weight: 700;

    position: absolute;     /* 荳狗ｫｯ蝗ｺ螳夂畑 */
    bottom: 10px;           /* 荳狗ｫｯ縺九ｉ縺ｮ霍晞屬繧定ｪｿ謨ｴ */
    left: 50%;              /* 讓ｪ荳ｭ螟ｮ */
    transform: translateX(-50%);

    transition: background-color 0.3s ease;

}

.modal-next-btn:hover {
    background-color: #36a8d6;
}

/* 繧ｿ繧､繝医Ν荳九・讓ｪ繝ｩ繧､繝ｳ */
/* 讓ｪ縺ｮ繝懊・繝繝ｼ繝ｩ繧､繝ｳ */
.title-line {
    position: absolute;      /* 繝懊ち繝ｳ縺ｨ蜷後§蝓ｺ貅悶〒驟咲ｽｮ */
    bottom:75px;            /* 繝懊ち繝ｳ荳顔ｫｯ縺九ｉ縺ｮ霍晞屬繧定ｪｿ謨ｴ・医・繧ｿ繝ｳ縺ｮbottom + 繝ｩ繧､繝ｳ髢馴囈・・*/
    left: 0px;              /* 繝｢繝ｼ繝繝ｫ縺ｮpadding縺ｫ蜷医ｏ縺帙ｋ */
    right: 0px;             /* 繝｢繝ｼ繝繝ｫ縺ｮpadding縺ｫ蜷医ｏ縺帙ｋ */
    border: none;
    border-bottom: 1px solid #5A6A71; /* 邱壹・濶ｲ縺ｨ螟ｪ縺・*/
    margin: 0;
}
