.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    background-image: url("../png/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}
