body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
}

/* 繧ｿ繧､繝医Ν・・2・峨・荳九↓菴咏區 */
.container h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* 笘・HTML縺ｮ type="useremail" 縺ｫ蜷医ｏ縺帙※菫ｮ豁｣ */
input[type="useremail"] {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 10px;
}

/* placeholder 縺ｮ濶ｲ險ｭ螳・*/
input[type="useremail"]::placeholder {
    color: #b2babe;
    font-size: 14px;
}

/* 繝懊ち繝ｳ */
button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 310px;
    font-weight: 700;
    margin-top: 10px;
}

button:hover {
    background-color: #36a8d6;
}
