body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
}

/* タイトル（h2）の下に余白を追加） */
.container h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px; /* ここでタイトルと入力欄の間隔を調整 */
}

input[type="username"] {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 20px; /* 入力欄下の余白を調整 */
}

input[type="password"]::placeholder {
    color: #b2babe;
    font-size: 14px;
}

button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 310px;
    font-weight: 700;
    margin-top: 10px;
}

button:hover {
    background-color: #36a8d6;
}