body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
}

/* 繧ｿ繧､繝医Ν・・2・・*/
.container h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px; /* 繝ｦ繝ｼ繧ｶ繝ｼ蜷阪→驥阪↑繧峨↑縺・ｈ縺・↓菴咏區繧貞｢励ｄ縺・*/
}

/* 繝医ャ繝励・繝ｼ繧ｸ縺ｸ繝懊ち繝ｳ */
.login-btn {
    display: block;
    margin: 0 auto 20px;
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 310px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #36a8d6;
}

/* 笆ｼ 繝ｦ繝ｼ繧ｶ繝ｼ蜷搾ｼ・2 縺ｨ蜷後§隕九◆逶ｮ・・*/
.username-display {
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 30px; /* 繝｡繝ｼ繝ｫ谺・→縺ｮ髢薙ｒ縺励▲縺九ｊ遒ｺ菫・*/
    text-align: center;
}

/* 笆ｼ 繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ・・繧ｿ繧ｰ繧ｵ繧､繧ｺ・・*/
.email-display {
    font-size: 16px;
    margin-bottom: 15px; /* 蜈･蜉帶ｬ・→縺ｮ霍晞屬繧堤｢ｺ菫・*/
    text-align: left;
    color: #dce6ec;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

input[type="password"] {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 25px; /* 繝｡繝ｼ繝ｫ縺ｨ縺ｮ菴咏區繧貞ｰ代＠霑ｽ蜉 */
}

input[type="password"]::placeholder {
    color: #b2babe;
    font-size: 14px;
}

button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 310px;
    font-weight: 700;
    margin-top: 5px;
}

button:hover {
    background-color: #36a8d6;
}
