/* email-complete.css */

/* 蜈ｨ菴楢ｨｭ螳・*/
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    height: 100vh;

    /* 荳ｭ螟ｮ蟇・○ */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* 繧ｳ繝ｳ繝・リ */
.container {
    text-align: center;
}

/* 繝｡繧､繝ｳ繧ｳ繝ｳ繝・Φ繝・*/
.content {
    text-align: center;
    padding: 20px 0;
}

/* 螳御ｺ・Γ繝・そ繝ｼ繧ｸ・・繧ｿ繧ｰ・・*/
.note {
    font-size: 16px;
    color: #dce6ec;
    margin-bottom: 25px;
    line-height: 1.6;
    text-align: center;
    width: 100%;
}

/* 繝励Ο繝輔ぅ繝ｼ繝ｫ縺ｫ謌ｻ繧九・繧ｿ繝ｳ */
.login-btn {
    display: block;
    text-decoration: none;
    text-align: center;

    background-color: #49c0f8;
    color: #131f24;

    padding: 11px 0;
    width: 270px;
    border-radius: 25px;

    font-size: 16px;
    font-weight: 700;

    margin: 0 auto; /* 繝懊ち繝ｳ繧剃ｸｭ螟ｮ縺ｫ驟咲ｽｮ */
    transition: background-color 0.3s ease;
}

/* 繝帙ヰ繝ｼ譎・*/
.login-btn:hover {
    background-color: #36a8d6;
}
