body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #131f24;
    color: #dce6ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 蜈ｨ菴薙・荳ｭ螟ｮ謠・∴ */
.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

/* 隕句・縺・h2 */
h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 25px; /* email縺ｨ縺ｮ髢馴囈 */
}

/* 繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ驛ｨ蛻・*/
.email {
    display: inline-block; /* 竊・縺薙ｌ繧定ｿｽ蜉縺吶ｋ縺縺托ｼ・*/
    font-size: 18px;
    font-weight: bold;
    color: #dce6ec;
    margin-bottom: 10px; /* message 縺ｨ縺ｮ髢馴囈繧定ｿｽ蜉 */
}

/* 隱ｬ譏取枚 */
.message {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 35px; /* 繝懊ち繝ｳ縺ｨ縺ｮ髢馴囈 */
}

/* 繝医ャ繝励・繝ｼ繧ｸ縺ｸ繝懊ち繝ｳ */
.login-btn {
    display: block;
    margin: 0 auto 20px;
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 310px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #36a8d6;
}

/* 繝｡繝ｼ繝ｫ蜀埼∽ｿ｡繝ｪ繝ｳ繧ｯ */
.resend-link {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #dce6ec;
    text-decoration: underline;
    margin-top: 5px;
}

.resend-link:hover {
    color: #a4a9aa;
}
