/* forgotpassword.css */

/* 蜈ｨ菴楢レ譎ｯ縺ｨ譁・ｭ苓牡 */
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px; /* 繝輔か繝ｼ繝蜻ｨ蝗ｲ縺ｮ菴咏區 */
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 隱ｬ譏取枚縺ｨ豕ｨ諢乗嶌縺阪ｒ邨ｱ荳 */
.content p {
    font-size: 16px;      /* 譁・ｭ励し繧､繧ｺ繧堤ｵｱ荳 */
    color: #dce6ec;       /* 繝｡繧､繝ｳ譁・ｭ苓牡縺ｫ邨ｱ荳 */
    margin-bottom: 12px;  /* 荳九・菴咏區 */
    line-height: 1.5;     /* 隱ｭ縺ｿ繧・☆縺・*/
}

.description .email {
    font-weight: 700;
    color: #b2babe; /* 繝懊ち繝ｳ濶ｲ縺ｨ蜷医ｏ縺帙※蠑ｷ隱ｿ */
}

.note {
    font-size: 14px;
    color: #b2babe;
    margin-bottom: 20px;
}

.send-btn {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 330px; /* 繝ｭ繧ｰ繧､繝ｳ繝ｻ繧ｵ繧､繝ｳ繧｢繝・・縺ｯ310px */
    font-weight: 700;
    margin-top: 15px; /* 縺薙％繧貞｢励ｄ縺吶→繝懊ち繝ｳ縺御ｸ九↓荳九′繧・*/
}

.send-btn:hover {
    background-color: #36a8d6;
}
