body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
}

input[type="email"] {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
}

input[type="email"]::placeholder {
    color: #b2babe;
    font-size: 14px; /* 繝｡繝ｼ繝ｫ蟆ら畑 */
}

/* 繝代せ繝ｯ繝ｼ繝牙・蜉帶ｬ・・繝・じ繧､繝ｳ */
input[type="password"] {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
}

/* 繝代せ繝ｯ繝ｼ繝峨・繝励Ξ繝ｼ繧ｹ繝帙Ν繝繝ｼ譁・ｭ苓牡 */
input[type="password"]::placeholder {
    color: #b2babe;
    font-size: 14px; /* 繝｡繝ｼ繝ｫ縺ｨ蜷後§繧ｵ繧､繧ｺ */
}


button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 310px;
    font-weight: 700;
}

button:hover {
    background-color: #36a8d6; /* 豌ｴ濶ｲ繝帙ヰ繝ｼ */
}

/* 繝代せ繝ｯ繝ｼ繝牙ｿ倥ｌ繝ｪ繝ｳ繧ｯ */
p a {
    color: #dce6ec;
    text-decoration: underline; /* 竊・蟶ｸ縺ｫ荳狗ｷ壹ｒ陦ｨ遉ｺ */
    font-size: 18px;
}

p a:hover {
    text-decoration: underline;
    color: #a4a9aa;
}
