/* password_reset_complete.css */

/* 全体背景と文字色 */
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* メインコンテンツ */
.content {
    text-align: center;
}

/* 注意文（pタグ） */
.note {
    font-size: 16px;
    color: #dce6ec;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    display: block;
}

/* 注意文（pタグ） */
.notes {
    font-size: 16px;
    color: #dce6ec;
    margin-bottom: 12px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    display: block;
}

.login-btn {
    display: block;                /* ブロック要素として扱う */
    text-decoration: none;
    text-align: center;

    background-color: #49c0f8;
    color: #131f24;

    padding: 11px 0;               /* 高さはこのまま */
    width: 270px;                   /* 好きな横幅に固定 */
    border-radius: 25px;

    font-size: 16px;
    font-weight: 700;
    margin: 15px auto 0 auto;       /* 上15px、左右自動で中央寄せ */
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #36a8d6;
}

