body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background-color: #131f24;
    color: #dce6ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.message {
    font-size: 18px;
    margin-bottom: 30px;
}

.email {
    font-weight: bold;
    color: #dce6ec;
}

.login-btn {
    display: block;
     margin: 0 auto 20px; /* ← これで中央揃えになる */
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 310px; /* ログイン・サインアップは310px */
    font-weight: 600;  /* ← ここを追加（例：600 = やや太め） */
    transition: background-color 0.3s ease;

    text-decoration: none; /* ← ここを追加 */
}

.login-btn:hover {
    background-color: #36a8d6;
}

.resend-link {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #dce6ec;
    text-decoration: underline;
    margin-top: 5px; /* 上との間隔 */
}

.resend-link:hover {
    text-decoration: underline;
    color: #a4a9aa;
}