/* password_reset_complete.css */

/* 蜈ｨ菴楢レ譎ｯ縺ｨ譁・ｭ苓牡 */
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 繝｡繧､繝ｳ繧ｳ繝ｳ繝・Φ繝・*/
.content {
    text-align: center;
}

/* 豕ｨ諢乗枚・・繧ｿ繧ｰ・・*/
.note {
    font-size: 16px;
    color: #dce6ec;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    display: block;
}

/* 豕ｨ諢乗枚・・繧ｿ繧ｰ・・*/
.notes {
    font-size: 16px;
    color: #dce6ec;
    margin-bottom: 12px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    display: block;
}

.login-btn {
    display: block;                /* 繝悶Ο繝・け隕∫ｴ縺ｨ縺励※謇ｱ縺・*/
    text-decoration: none;
    text-align: center;

    background-color: #49c0f8;
    color: #131f24;

    padding: 11px 0;               /* 鬮倥＆縺ｯ縺薙・縺ｾ縺ｾ */
    width: 270px;                   /* 螂ｽ縺阪↑讓ｪ蟷・↓蝗ｺ螳・*/
    border-radius: 25px;

    font-size: 16px;
    font-weight: 700;
    margin: 15px auto 0 auto;       /* 荳・5px縲∝ｷｦ蜿ｳ閾ｪ蜍輔〒荳ｭ螟ｮ蟇・○ */
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #36a8d6;
}

