/* 蜈ｨ菴楢レ譎ｯ */
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* 蜈ｨ菴薙さ繝ｳ繝・リ */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

/* 隕句・縺暦ｼ育ｵ先棡・・*/
h2 {
    font-size: 33px;
    margin-top: 40px;  /* 竊・霑ｽ蜉・壼・菴鍋噪縺ｫ荳九∈遘ｻ蜍・*/
    margin-bottom: 0px;
}

/* 讓ｪ荳ｦ縺ｳ繝ｩ繝・ヱ繝ｼ */
.info-row {
    display: flex;
    justify-content: center; /* 荳ｭ螟ｮ縺ｫ蟇・○繧・*/
    align-items: center;     /* 鬮倥＆繧呈純縺医ｋ */
    gap: 450px;               /* 隕∫ｴ髢薙・繧ｹ繝壹・繧ｹ・医♀螂ｽ縺ｿ縺ｧ隱ｿ謨ｴ・・*/
    flex-wrap: wrap;         /* 逕ｻ髱｢縺檎強縺上↑縺｣縺溘ｉ謚倥ｊ霑斐☆ */
    margin-bottom: 10px;     /* 蠢・ｦ√↑繧我ｽ咏區 */
}

/* 豕ｨ驥域枚遶 */
.note {
    font-size: 19px;
    margin: 0 0 0px 0;  /* 竊・荳九↓20px縺ｮ菴咏區繧定ｿｽ蜉 */
    color: #dce6ec;
    margin-left: -70px; /* 竊・蟾ｦ縺ｫ縺壹ｉ縺呻ｼ亥､縺ｯ隱ｿ謨ｴ・・*/
}

.accuracy-line {
    font-size: 30px;
    color: #93d333;
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    gap: 6px;
}


/* 豁｣隗｣邇・ｼ域焚蟄励′蜈･繧矩Κ蛻・ｼ・*/
#accuracy {
    font-size: 30px;
    font-weight: bold;
    color: #93d333;
    /* margin-left: 10px; */
}

/* JavaScript縺ｧ菴懊ｋ陦ｨ繧堤ｽｮ縺乗棧 */
#results-table {
    margin: 10px auto;
    width: 960px;   /* 竊・縺薙ｌ繧貞・繧後ｋ縺縺・*/
    border: 1px solid #334155;
    border-radius: 0px;
    min-height: 560px; /* 荳ｭ霄ｫ縺後↑縺上※繧よ棧縺瑚ｦ九∴繧・*/
    overflow: hidden;
}

/* 陦ｨ繧谷S縺ｧ菴懊ｋ諠ｳ螳壹・繧ｹ繧ｿ繧､繝ｫ */
#results-table table {
    width: 100%;
    border-collapse: collapse;
}

#results-table th,
#results-table td {
    padding: 14px 10px;
    border-bottom: 1px solid #334155;
    font-size: 16px;
}

#results-table th {
    background-color: #1e293b;
    color: #dce6ec;
}

#results-table tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

/* 邨ゆｺ・・繧ｿ繝ｳ */
.button-area {
    margin-top: 23px; /* 荳翫・譫邱壹→縺ｮ菴咏區 */
}

#finish-btn {
    display: block;
    margin-left: 890px;   /* 蜿ｳ蟇・○ */
    margin-right: 0;
    margin-bottom: 20px;

    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 15px;
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    width: 175px; /* 繝ｭ繧ｰ繧､繝ｳ繝ｻ繧ｵ繧､繝ｳ繧｢繝・・縺ｯ310px */
    font-weight: 600;  /* 竊・縺薙％繧定ｿｽ蜉・井ｾ具ｼ・00 = 繧・ｄ螟ｪ繧・ｼ・*/
    transition: background-color 0.3s ease;

    text-decoration: none; /* 竊・縺薙％繧定ｿｽ蜉 */
}

#finish-btn:hover {
    background-color: #36a8d6;
}
