/* reset-password.css */

/* 閭梧勹繝ｻ譁・ｭ怜・菴・*/
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* 繧ｳ繝ｳ繝・リ驟咲ｽｮ */
.container {
    text-align: center;
    width: 90%;
    max-width: 350px;
}

/* 繧ｿ繧､繝医Ν */
h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

/* 蜈･蜉帶ｬ・・騾壹ョ繧ｶ繧､繝ｳ */
.input-field {
    width: 90%;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 5px; /* 蜈･蜉帶ｬ・俣縺ｮ髢馴囈 */
    box-sizing: border-box; /* 蟷・′蟠ｩ繧後↑縺・ｈ縺・↓ */
}

/* 繝励Ξ繝ｼ繧ｹ繝帙Ν繝繝ｼ */
.input-field::placeholder {
    color: #b2babe;
    font-size: 14px;
}

/* 騾∽ｿ｡繝懊ち繝ｳ */
button {
    width: 90%;
    padding: 12px;
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px; /* 蜈･蜉帶ｬ・→縺ｮ髢馴囈 */
    transition: background-color 0.3s ease;
}

/* 繝帙ヰ繝ｼ */
button:hover {
    background-color: #36a8d6;
}
