/* reset-password.css */

/* 背景・文字全体 */
body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* コンテナ配置 */
.container {
    text-align: center;
    width: 90%;
    max-width: 350px;
}

/* タイトル */
h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

/* 入力欄共通デザイン */
.input-field {
    width: 90%;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 5px; /* 入力欄間の間隔 */
    box-sizing: border-box; /* 幅が崩れないように */
}

/* プレースホルダー */
.input-field::placeholder {
    color: #b2babe;
    font-size: 14px;
}

/* 送信ボタン */
button {
    width: 90%;
    padding: 12px;
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px; /* 入力欄との間隔 */
    transition: background-color 0.3s ease;
}

/* ホバー */
button:hover {
    background-color: #36a8d6;
}