body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

/* メール・パスワード入力欄共通 */
input[type="email"],
input[type="password"] {
    width: 250px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    margin-bottom: 15px;
    background-color: #202f36;
    color: #dce6ec;
}

/* プレースホルダーの文字色 */
input::placeholder {
    color: #dce6ec;
}

button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 270px;
    font-weight: 700;
}

button:hover {
    background-color: #36a8d6;
}

/* パスワード忘れリンク */
p a {
    color: #49c0f8;
    text-decoration: none;
    font-size: 14px;
}

p a:hover {
    text-decoration: underline;
}