body {
    background-color: #131f24;
    color: #dce6ec;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
}

/* 蜈･蜉帶ｬ・・騾壹ョ繧ｶ繧､繝ｳ */
.input-field {
    width: 290px;
    padding: 12px;
    border-radius: 9px;
    border: 2px solid #37464f;
    background-color: #202f36;
    color: #dce6ec;
    font-size: 14px;
    margin-bottom: 5px; /* 蜈･蜉帶ｬ・俣縺ｮ荳贋ｸ矩俣髫・*/
}

/* 繝励Ξ繝ｼ繧ｹ繝帙Ν繝繝ｼ */
.input-field::placeholder {
    color: #b2babe;
    font-size: 14px;
}

button {
    background-color: #49c0f8;
    color: #131f24;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 310px; /* 繝ｭ繧ｰ繧､繝ｳCSS縺ｨ蜷後§蟷・*/
    font-weight: 700;
    margin-top: 3px; /* 蜈･蜉帶ｬ・→縺ｮ髢馴囈 */
}

button:hover {
    background-color: #36a8d6; /* 繝ｭ繧ｰ繧､繝ｳCSS縺ｨ蜷後§繝帙ヰ繝ｼ濶ｲ */
}
