.back-icon {
    position: absolute;
    top: 50px;      /* 荳翫°繧・0px */
    right: auto;    /* 蜿ｳ縺九ｉ20px */
    left: 450px;     /* 蟾ｦ縺ｯ繝ｪ繧ｻ繝・ヨ */
    bottom: auto;   /* 荳九・繝ｪ繧ｻ繝・ヨ */
    width: 45px;
    height: 45px;
    background-image: url("../png/cross.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}
