.back-icon {
    position: absolute;
    top: 50px;      /* 上から20px */
    right: auto;    /* 右から20px */
    left: 450px;     /* 左はリセット */
    bottom: auto;   /* 下はリセット */
    width: 45px;
    height: 45px;
    background-image: url("../png/cross.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}
