<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学習問題正誤判定（正解）</title>
    <link rel="stylesheet" href="../css/check-correct.css">
</head>

<body>
    <!-- モーダル -->
    <div id="modal-overlay" class="modal-overlay">

        <div class="modal-box">

            <h2 class="modal-title">正解</h2>

            <div class="modal-content">
                <!-- 「答え」タイトル -->
                <p class="modal-section-title">答え</p>
                <!-- JSで答えが入る -->
                <p id="answer"></p>

                <!-- 「解説」タイトル -->
                <p class="modal-section-title">解説</p>
                <!-- JSで解説が入る -->
                <p id="explanation"></p>
            </div>
            <hr class="title-line">
            <button class="modal-next-btn" id="modal-next-btn">次へ</button>
        </div>
    </div>
</body>
</html>
