<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蟄ｦ鄙貞撫鬘梧ｭ｣隱､蛻､螳夲ｼ域ｭ｣隗｣・・/title>
    <link rel="stylesheet" href="../css/check-correct.css">
</head>

<body>
    <!-- 繝｢繝ｼ繝繝ｫ -->
    <div id="modal-overlay" class="modal-overlay">

        <div class="modal-box">

            <h2 class="modal-title">豁｣隗｣</h2>

            <div class="modal-content">
                <!-- 縲檎ｭ斐∴縲阪ち繧､繝医Ν -->
                <p class="modal-section-title">遲斐∴</p>
                <!-- JS縺ｧ遲斐∴縺悟・繧・-->
                <p class="modal-answer"></p>

                <!-- 縲瑚ｧ｣隱ｬ縲阪ち繧､繝医Ν -->
                <p class="modal-section-title">隗｣隱ｬ</p>
                <!-- JS縺ｧ隗｣隱ｬ縺悟・繧・-->
                <p class="modal-explanation"></p>
            </div>
            <hr class="title-line">
            <button class="modal-next-btn" id="modal-next-btn">谺｡縺ｸ</button>
        </div>
    </div>
</body>
</html>
