<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝ｦ繝ｼ繧ｶ繝ｼ蜷阪ｒ螟画峩</title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/edit-username.css">
</head>

<body>

    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="profile.html" class="back-icon"></a>

    <div class="container">
        <h2>繝ｦ繝ｼ繧ｶ繝ｼ蜷阪ｒ螟画峩</h2>
        <form>
            <!-- 繝ｦ繝ｼ繧ｶ繝ｼ蜷・-->
            <input type="username" id="username" name="username" placeholder="繝ｦ繝ｼ繧ｶ繝ｼ蜷阪ｒ蜈･蜉・ class="input-field"><br>
            <button type="submit">螟画峩繧堤｢ｺ螳・/button>
        </form>
        
    </div>

</body>
</html>
