<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メールアドレスを変更</title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/edit-useremail.css">
</head>

<body>

    <!-- 左上の戻るボタン（共通クラス） -->
    <a href="profile.html" class="back-icon"></a>

    <div class="container">
        <h2>メールアドレスを変更</h2>
        <form>
            <!-- ユーザー名 -->
            <input type="useremail" id="useremail" name="useremail" placeholder="新しいメールアドレスを入力" class="input-field"><br>
            <p>上記のメールアドレス変更のURLを送信します。</p>
            <button type="submit">メールを送信</button>
        </form>
        
    </div>

</body>
</html>
