<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ繧貞､画峩</title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/edit-useremail.css">
</head>

<body>

    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="profile.html" class="back-icon"></a>

    <div class="container">
        <h2>繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ繧貞､画峩</h2>
        <form>
            <!-- 繝ｦ繝ｼ繧ｶ繝ｼ蜷・-->
            <input type="useremail" id="useremail" name="useremail" placeholder="譁ｰ縺励＞繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ繧貞・蜉・ class="input-field"><br>
            <p>荳願ｨ倥・繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ螟画峩縺ｮURL繧帝∽ｿ｡縺励∪縺吶・/p>
            <button type="submit">繝｡繝ｼ繝ｫ繧帝∽ｿ｡</button>
        </form>
        
    </div>

</body>
</html>
