<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー名を変更</title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/edit-username.css">
</head>

<body>

    <!-- 左上の戻るボタン（共通クラス） -->
    <a href="profile.html" class="back-icon"></a>

    <div class="container">
        <h2>ユーザー名を変更</h2>
        <form>
            <!-- ユーザー名 -->
            <input type="username" id="username" name="username" placeholder="ユーザー名を入力" class="input-field"><br>
            <button type="submit">変更を確定</button>
        </form>
        
    </div>

</body>
</html>
