<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壼ｮ御ｺ・/title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/email-complete.css">
</head>

<body>
    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="email-update-confirm.html" class="back-icon"></a>

    <div class="container">
        <!-- 繝｡繧､繝ｳ繧ｳ繝ｳ繝・Φ繝・-->
        <div class="content">
            <p class="note">
                譁ｰ縺励＞繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ縺ｮ險ｭ螳壹′螳御ｺ・＠縺ｾ縺励◆縲・
            </p>
            <a href="profile.html" class="login-btn">繝励Ο繝輔ぅ繝ｼ繝ｫ逕ｻ髱｢縺ｸ</a>
            

        </div>
    </div>
</body>
</html>
