<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ことばルーツ</title>
    <link rel="stylesheet" href="../css/exercise.css">
</head>

<body>
    <div class="container">

    <!-- JavaScriptで問題文を挿入する場所 -->
    <h2 id="question-title"></h2>

    <!-- JavaScriptで表示する例文など -->
    <p id="question-text"></p>

    <!-- 選択肢が入るボックス（JSで生成） -->
    <div id="choices-area"></div>

    <!-- ボタンエリア -->
    <div class="button-area">
        <button class="skip-btn" id="skip-btn">スキップ</button>
        <button class="send-btn" id="send-btn">送信する</button>
    </div>

</div>
</body>
</html>