<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>蜿ｳ荳顔ｵ槭ｊ霎ｼ縺ｿ繧ｫ繝ｼ繝・/title>
<link rel="stylesheet" href="../css/learning_history_narrow down.css">
</head>
<body>

<!-- 繝｢繝ｼ繝繝ｫ繧ｪ繝ｼ繝舌・繝ｬ繧､・郁レ譎ｯ阮・囓縺擾ｼ・-->
<div class="modal-overlay">
    <div class="modal-content right-top">
        <div class="modal-header">
            <h2 class="modal-title">邨槭ｊ霎ｼ縺ｿ</h2>
        </div>
        <div class="modal-buttons">
            <button class="modal-button">豁｣隗｣</button>
            <button class="modal-button">荳肴ｭ｣隗｣</button>
            <button class="modal-button">闍ｱ譁・∈謚・/button>
            <button class="modal-button">遨ｴ蝓九ａ</button>
            <button class="modal-button">荳ｦ縺ｳ譖ｿ縺・/button>
        </div>
    </div>
</div>

</body>
</html>
