<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログインまたはアカウント作成</title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/login_or_account.css">
</head>

<body>

    <!-- 左上の戻るボタン（共通クラス） -->
    <a href="login_or_account.html" class="back-icon"></a>

    <div class="container">
        <h2>ログインまたはアカウント作成</h2>
        <form>
            <input type="email" id="email" name="email" placeholder="メールアドレス"><br><br>
            <button type="submit">次へ進む</button>
        </form>
    </div>

</body>
</html>
