<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>

    <!-- 左上の戻るボタン（共通クラス） -->
    <a href="notloggedin.html" class="back-icon"></a>

    <div class="container">
        <h2>ログイン</h2>
        <form>
            <!-- メールアドレス -->
            <input type="email" id="email" name="email" placeholder="メールアドレス"><br><br>
            <!-- パスワード -->
            <input type="password" id="password" name="password" placeholder="パスワード" class="input-field"><br>
            <p><a href="forgotpassword.html">パスワードを忘れた場合</a></p>
            <a href="signup.html">
                <button type="submit">次へ進む</button>
            </a>
            <p><a href="signup.html">初めての方はコチラ</a></p>
        </form>
        
    </div>

</body>
</html>
