<!-- 繝ｭ繧ｰ繧､繝ｳ逕ｻ髱｢・医ヵ繧ｩ繝ｼ繝・・-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>繝ｭ繧ｰ繧､繝ｳ</title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css" />

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/login.css" />
  </head>

  <body>
    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="not_login_index.html" class="back-icon"></a>

    <div class="container">
      <h2>繝ｭ繧ｰ繧､繝ｳ</h2>
      <form>
        <!-- 繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ -->
        <input type="email" id="email" name="email" placeholder="繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ" /><br /><br />
        <!-- 繝代せ繝ｯ繝ｼ繝・-->
        <input type="password" id="password" name="password" placeholder="繝代せ繝ｯ繝ｼ繝・ class="input-field" /><br />
        <p><a href="password_reset.html">繝代せ繝ｯ繝ｼ繝峨ｒ蠢倥ｌ縺溷ｴ蜷・/a></p>

        <!-- 繧ｨ繝ｩ繝ｼ縺後≠縺｣縺滄圀縺ｮ陦ｨ遉ｺ逕ｨ -->
        <p id="error-message" style="color: red; font-size: 0.9em"></p>
        <button type="submit">谺｡縺ｸ騾ｲ繧</button>
        <p><a href="signup.html">蛻昴ａ縺ｦ縺ｮ譁ｹ縺ｯ繧ｳ繝√Λ</a></p>
      </form>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>
