<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蜊倩ｪ櫁ｿｽ蜉繝昴ャ繝励い繝・・</title>
    <link rel="stylesheet" href="../css/myphrase_addition.css">
</head>
<body>

<!-- 繝昴ャ繝励い繝・・繧ｪ繝ｼ繝舌・繝ｬ繧､ -->
    <div class="overlay">
        <div class="modal">
            <div class="field">
                <label class="word">蜊倩ｪ槭・繝輔Ξ繝ｼ繧ｺ</label>
                <input id="wordInput" class="input" type="text" placeholder="蜈･蜉帙＠縺ｦ縺上□縺輔＞">
            </div>

            <div class="field">
                <label for="meaning">諢丞袖</label>
                <textarea id="meaning" class="textarea" placeholder="蜈･蜉帙＠縺ｦ縺上□縺輔＞"></textarea>
            </div>

            <div class="actions">
                <button class="btn btn-cancel" type="button">繧ｭ繝｣繝ｳ繧ｻ繝ｫ</button>
                <button class="btn btn-add" type="button">霑ｽ蜉</button>
            </div>
        </div>
    </div>

</body>
</html>
