<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>繝槭う繝輔Ξ繝ｼ繧ｺ繝・せ繝・/title>
    <link rel="stylesheet" href="../css/myphrase_test.css">
</head>
<body>

    <div class="container">
        <button class="close-button"></button>

        <div class="main-content">
            <h2 class="question">LOOK</h2>

            <input type="text" class="answer-input" placeholder="蜈･蜉帙＠縺ｦ縺上□縺輔＞">
            <div class="button-area">
                <button class="skip-btn">繧ｹ繧ｭ繝・・</button>
                <button class="send-btn">騾∽ｿ｡縺吶ｋ</button>
            </div>
        </div>
    </div>
</body>
</html>
