<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壼ｮ御ｺ・/title>

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/password-reset-complete.css">
</head>

<body>
    <div class="container">
        <!-- 繝｡繧､繝ｳ繧ｳ繝ｳ繝・Φ繝・-->
        <div class="content">
            <p class="note">
                繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹′螳御ｺ・＠縺ｾ縺励◆縲・
            </p>
            <p class="note">
                莉･蠕・4譎る俣縺ｯ繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹・蛻ｩ逕ｨ縺ｧ縺阪↑縺上↑繧翫∪縺吶・
            </p>
            <a href="login.html" class="login-btn">繝ｭ繧ｰ繧､繝ｳ逕ｻ髱｢縺ｸ</a>
            

        </div>
    </div>
</body>
</html>
