<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝代せ繝ｯ繝ｼ繝牙・險ｭ螳啅RL騾∽ｿ｡螳御ｺ・/title>

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/password-reset-done.css">
</head>

<body>
    <div class="container">
        <!-- 繝｡繧､繝ｳ繧ｳ繝ｳ繝・Φ繝・-->
        <div class="content">
            <p class="message">
                <span class="email">sample@gmail.com</span> 縺ｫ繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹・URL繧帝∽ｿ｡縺励∪縺励◆縲・
            </p>
            <a href="login.html" class="login-btn">繝ｭ繧ｰ繧､繝ｳ逕ｻ髱｢縺ｸ</a>
            <a href="password-reset-done.html" class="resend-link">繝｡繝ｼ繝ｫ繧貞・騾∽ｿ｡</a>

        </div>
    </div>
</body>
</html>
