<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>パスワードを忘れた場合</title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/forgotpassword.css">
</head>

<body>
    <!-- 左上の戻るボタン（共通クラス） -->
    <a href="login.html" class="back-icon"></a>
    
    <div class="container">
        <div class="content">
            <h2>パスワードを忘れた場合</h2>
            <p class="description">
                <span class="email">sample@gmail.com</span> にパスワード再設定のURLをお送りします。
            </p>
            <p class="note">
                一度パスワード再設定を行うと、以後24時間はパスワード再設定は利用できなくなります。
            </p>
            <button class="send-btn">メールを送信</button>
        </div>
    </div>
</body>
</html>