<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>繝代せ繝ｯ繝ｼ繝峨ｒ蠢倥ｌ縺溷ｴ蜷・/title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/forgotpassword.css">
</head>

<body>
    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="login.html" class="back-icon"></a>
    
    <div class="container">
        <div class="content">
            <h2>繝代せ繝ｯ繝ｼ繝峨ｒ蠢倥ｌ縺溷ｴ蜷・/h2>
            <p class="description">
                <span class="email">sample@gmail.com</span> 縺ｫ繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹・URL繧偵♀騾√ｊ縺励∪縺吶・
            </p>
            <p class="note">
                荳蠎ｦ繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹ｒ陦後≧縺ｨ縲∽ｻ･蠕・4譎る俣縺ｯ繝代せ繝ｯ繝ｼ繝牙・險ｭ螳壹・蛻ｩ逕ｨ縺ｧ縺阪↑縺上↑繧翫∪縺吶・
            </p>
            <button class="send-btn">繝｡繝ｼ繝ｫ繧帝∽ｿ｡</button>
        </div>
    </div>
</body>
</html>
