<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定</title>

    <!-- 個別CSS -->
    <link rel="stylesheet" href="../css/reset-password.css">
</head>

<body>

    <div class="container">
        <h2>パスワード再設定</h2>
        <form>
            <!-- パスワード -->
            <input type="password" id="password" name="password" placeholder="パスワード（8文字以上、16文字以下）" class="input-field"><br><br>
            <!-- パスワード確認用 -->
            <input type="password" id="confirm-password" name="confirm_password" placeholder="パスワード（確認用）" class="input-field"><br><br>
            <button type="submit">送信</button>
        </form>
    </div>

</body>
</html>
