<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>繝代せ繝ｯ繝ｼ繝牙・險ｭ螳・/title>

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/reset-password.css">
</head>

<body>

    <div class="container">
        <h2>繝代せ繝ｯ繝ｼ繝牙・險ｭ螳・/h2>
        <form>
            <!-- 繝代せ繝ｯ繝ｼ繝・-->
            <input type="password" id="password" name="password" placeholder="繝代せ繝ｯ繝ｼ繝会ｼ・譁・ｭ嶺ｻ･荳翫・6譁・ｭ嶺ｻ･荳具ｼ・ class="input-field"><br><br>
            <!-- 繝代せ繝ｯ繝ｼ繝臥｢ｺ隱咲畑 -->
            <input type="password" id="confirm-password" name="confirm_password" placeholder="繝代せ繝ｯ繝ｼ繝会ｼ育｢ｺ隱咲畑・・ class="input-field"><br><br>
            <button type="submit">騾∽ｿ｡</button>
        </form>
    </div>

</body>
</html>
