<!-- 譁ｰ隕冗匳骭ｲ -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>繧｢繧ｫ繧ｦ繝ｳ繝井ｽ懈・</title>

    <!-- 蜈ｱ騾咾SS -->
    <link rel="stylesheet" href="../css/common.css" />

    <!-- 蛟句挨CSS -->
    <link rel="stylesheet" href="../css/signup.css" />
  </head>

  <body>
    <!-- 蟾ｦ荳翫・謌ｻ繧九・繧ｿ繝ｳ・亥・騾壹け繝ｩ繧ｹ・・-->
    <a href="./login.html" class="back-icon"></a>

    <div class="container">
      <h2>繧｢繧ｫ繧ｦ繝ｳ繝井ｽ懈・</h2>
      <form>
        <!-- 繝ｦ繝ｼ繧ｶ繝ｼ蜷・-->
        <input type="text" id="username" name="username" placeholder="繝ｦ繝ｼ繧ｶ繝ｼ蜷・ class="input-field" /><br /><br />
        <!-- 繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ -->
        <input type="email" id="email" name="email" placeholder="繝｡繝ｼ繝ｫ繧｢繝峨Ξ繧ｹ" class="input-field" /><br /><br />
        <!-- 繝代せ繝ｯ繝ｼ繝・-->
        <input type="password" id="password" name="password" placeholder="繝代せ繝ｯ繝ｼ繝会ｼ・譁・ｭ嶺ｻ･荳翫・6譁・ｭ嶺ｻ･荳具ｼ・ class="input-field" /><br /><br />
        <!-- 繝代せ繝ｯ繝ｼ繝臥｢ｺ隱咲畑 -->
        <input type="password" id="confirm-password" name="confirm_password" placeholder="繝代せ繝ｯ繝ｼ繝会ｼ育｢ｺ隱咲畑・・ class="input-field" /><br />
        <p id="error-message" style="color: red; font-size: 0.9em"></p>
        <button type="submit">繧｢繧ｫ繧ｦ繝ｳ繝井ｽ懈・</button>
      </form>
    </div>
    <script src="../js/signup.js"></script>
  </body>
</html>
