<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空欄を埋めてください</title>
</head>
<body>
    <div class="container">
        <!-- 戻る（×）ボタン -->
        <button class="close-button">✖</button>

        <h2 id="question_format"></h2>

        <p id="question_sentence"></p>


        <div class="button-area">
            <button class="skip-button">スキップ</button>
            <button class="submit-button">送信する</button>
        </div>
    </div>
</body>
</html>
