<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遨ｺ谺・ｒ蝓九ａ縺ｦ縺上□縺輔＞</title>
</head>
<body>
    <div class="container">
        <!-- 謌ｻ繧具ｼ暗暦ｼ峨・繧ｿ繝ｳ -->
        <button class="close-button">笨・/button>

        <h2 id="question_format"></h2>

        <p id="question_sentence"></p>


        <div class="button-area">
            <button class="skip-button">繧ｹ繧ｭ繝・・</button>
            <button class="submit-button">騾∽ｿ｡縺吶ｋ</button>
        </div>
    </div>
</body>
</html>
