<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>確認画面</title>
</head>
<body>
    <main>
    <section>
        <h2>正しく並び替えてください。</h2>
        <p>私はシステムエンジニアです。</p>
    </section>

    <section>
        <table>
            <tr>
                <td><button>選択肢</button></td>
                <td><button>選択肢</button></td>
                <td><button>選択肢</button></td>
            </tr>
            <tr>
                <td><button>選択肢</button></td>
                <td><button>選択肢</button></td>
                <td><button>選択肢</button></td>
            </tr>
        </table>
    </section>

    <section>
        <button>スキップ</button>
        <button>送信する</button>
    </section>
    </main>
</body>
</html>
