<!-- 繧ｵ繧､繝峨ヰ繝ｼ -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>縺薙→縺ｰ繝ｫ繝ｼ繝・/title>
  <link rel="stylesheet" href="../Template/Template.css" />
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <h1 class="logo">縺薙→縺ｰ繝ｫ繝ｼ繝・/h1>
      <nav class="menu">
        <ul>
          <li><a href="#" id="sidebar_learning">蟄ｦ鄙・/a></li>
          <li><a href="#">繝槭う繝輔Ξ繝ｼ繧ｺ蟶ｳ</a></li>
          <li><a href="#">蟄ｦ鄙貞ｱ･豁ｴ</a></li>
          <li><a href="#">AI隗｣隱ｬ</a></li>
          <li><a href="#">繝励Ο繝輔ぅ繝ｼ繝ｫ</a></li>
          <li><a href="#">縺昴・莉・/a></li>
        </ul>
      </nav>
    </aside>
    <main class="content">

    </main>
  </div>
</body>
</html>
