name: Deploy to AWS Academy EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # ↓↓ ここをご自身のフォルダ名に合わせて修正してください ↓↓
            cd /home/ec2-user/kotobaroots_front

            # 最新コードを強制的に反映
            git fetch origin main
            git reset --hard origin/main
            
            # サーバー再起動
            # nginx.confなどを変更した場合には手動で再起動するはずなのでコメントアウト
            # sudo systemctl reload nginx
